.FormEditor {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 0.5rem;
}

.FormEditor textarea {
	resize: none;
	flex: 1;
	background: var(--bg-secondary);
	border-radius: var(--radius);
	border: none;
	padding: 0.5rem;
}

.FormEditor textarea:focus {
	outline: none;
}
