.App {
	display: flex;
	flex-flow: column nowrap;
}

.App-main {
	display: flex;
	flex-flow: column nowrap;
	padding: 2rem;
	gap: 2rem;
	height: 100%;
	min-height: calc(100vh - 3.5rem);
	background: var(--bg);
}

@media screen and (min-width: 50.75rem) {
	.App-main {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}
